$lg-red:    #ee1258;
$lg-dark:   #98173e;
$white:     #fff;
$gray-bg:   #f7f7f8;
$gray-1:    #e4e4e4;
$gray-2:    #8d8d8d;

$radius-l:  16px;
$radius-m:  10px;
$radius-s: 13px;

$transition: 0.3s all cubic-bezier(.47,1.64,.41,.8);